:root {
	--body-height: 400px;
}

fieldset {
	padding-bottom: 10px;
	box-sizing: border-box;
}

fieldset legend,
fieldset legend * {
	font-weight: bold;
	color: var(--hover-fieldset-legend-color);
}

label {
	position: relative;
}