:root {
	--body-height: 400px;
}
.logo_text{
    width: 800px;
    height: 400px;
    background-color: white;
    margin-left: 150%;
	margin-top: 15%;
}
.logo{
    display: flex;
    flex-direction: row;
}
#header-logo{
	width: 40px;
	height: 40px;
	position: relative;
	margin-left: 60%;
}
#header-text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: 000;
	margin-left: 5%;
}
.button_container{
    width: 600px;
    height: 400px;
    background: rgba(245, 235, 160, 0.9);
    border: 1px solid rgba(66, 65, 65, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 2%;
}
.feedback{
    margin-left: 29%;
    margin-top:12%;
	font-style: medium;
    font-weight: 600;
    font-size: 20px;
}
#use_for_all{
    margin-left: 31%;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-left: 32%;
    margin-top: 2%;
}
.buttons :hover{
	background-color: #333333; opacity: 70%;
}
.buttons :active {
	background-color: #333333;
	box-shadow: 0 5px #333;
	transform: translateY(4px);
}
.positive_btn{
    width: 200px;
    height: 40px;
    background: #68BE31;
    border-radius: 25px;
    border: none;
	cursor: pointer;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.neutral_btn{
    width: 200px;
    height: 40px;
    background: #5858EC;
    border-radius: 25px;
    border: none;
	cursor: pointer;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.negative_btn{
    width: 200px;
    height: 40px;
    background: #F23535;
    border-radius: 25px;
    border: none;
	cursor: pointer;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
