:root {
	--body-height: 400px;
}

fieldset {
	padding-bottom: 10px;
	box-sizing: border-box;
}

fieldset legend,
fieldset legend * {
	font-weight: bold;
	color: var(--hover-fieldset-legend-color);
}

label {
	position: relative;
}

#positive_feedback_btn {
	background-color: green;
	color: beige;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 3px 1px rgb(0,0,0);
}

#neutral_feedback_btn {
	background-color: blue;
	color: beige;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 3px 1px rgb(0,0,0);
}

#negative_feedback_btn {
	background-color: red;
	color: beige;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 3px 1px rgb(0,0,0);
}