#footer {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background: rgba(245, 235, 160, 0.9);
  border: 1px solid rgba(66, 65, 65, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

#footer svg {
  width: 20px;
  cursor: pointer;
}

#footer a {
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
}

#footer a:hover {
  cursor: pointer;
}

#about_button:hover>svg>.footer-path {
  -webkit-transition: stroke 0.1s;
  -moz-transition: stroke 0.1s;
  -o-transition: stroke 0.1s;
  transition: stroke 0.1s;

  -webkit-transition: fill 0.1s;
  -moz-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  transition: fill 0.1s;

  stroke: #F6000B;
}

#about_button:active>svg>.footer-path {
  stroke: #F6000B;
  fill: #F6000B;
}
#info_button:hover>svg>.footer-path {
  -webkit-transition: stroke 0.1s;
  -moz-transition: stroke 0.1s;
  -o-transition: stroke 0.1s;
  transition: stroke 0.1s;

  -webkit-transition: fill 0.1s;
  -moz-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  transition: fill 0.1s;

  stroke: #5858EC;
}

#info_button:active>svg>.footer-path {
  stroke: #5858EC;
  fill: #5858EC;
}
#bug_button:hover>svg>.footer-path {
  -webkit-transition: stroke 0.1s;
  -moz-transition: stroke 0.1s;
  -o-transition: stroke 0.1s;
  transition: stroke 0.1s;

  -webkit-transition: fill 0.1s;
  -moz-transition: fill 0.1s;
  -o-transition: fill 0.1s;
  transition: fill 0.1s;

  stroke: #68BE31;
}

#bug_button:active>svg>.footer-path {
  stroke: #68BE31;
  fill: #68BE31;
}
