body {
  background-color: var(--body-background-color);
}
.container{
  width: 310px;
  height: 350px;
  border-radius: 10px;
  background: #F4EFFF;
  position: absolute;


}

body * {
  color: var(--body-color);
}

a {
  color: var(--body-color);
}

body, body * {
  font-size: 14px;
  font-family: Helvetica;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}
