#header-contents {
	position: relative;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#header-logo {
	position: absolute;
	height: 95%;

	/* center vertically */
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#header-logo:hover {
	height: 98%;
}

#header-text {
	font-weight: bold;
	margin-left: 30px;
	font-size: 16px;
}

#header svg {
	height: 95%;
}